<%= provide(:title, "Log in") %>

<div class="user-form">
  <h1>ログイン</h1>
    <%= form_for(:session, url: login_path, html: { id: 'sessions_new' }) do |f| %>

      <%= f.label :email, "メールアドレス" %>
      <%=f.text_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%=f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox" do %>
        <%= f.check_box :remember_me %>
        <span>ログイン状態を維持する</span>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>
    <p><%= link_to "サインアップがまだの方は", signup_path %></p>
</div>
