<%= form_for(@recordability, remote: true) do |f| %>
  <div class="error_messages">
    <%= render 'shared/error_messages', object: f.object %>
  </div>

  <div class="scroll-window">
    <%= f.fields_for :records, @recordability.records.sort{ |a, b| a.option.created_at <=> b.option.created_at } do |fr| %>
      <% option = fr.object.option %>
      <div class="select-count">
        <div class="form-group">
          <%= fr.label :count, option.name, class: "label-xs" %>
          <%= fr.select :count, options_for_select([*0..25], selected: fr.object.count.to_i), { class: "form-control" } %>
          <%= fr.hidden_field :option_id, value: option.id %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "shared/modal_form_buttons", f: f %>
<% end %>

