<%= form_for(@recorder, url: yield(:submit_url), method: :post, remote: true) do |f| %>
  <div class="error_messages">
    <%= render 'shared/error_messages', object: f.object %>
  </div>

  <div class="scroll-window">
    <div class="batch_registration-form">
      <%= f.fields_for @recordability do |fr| %>
        <%= render 'option_field', f: fr %>
      <% end %>
    </div>
  </div>

  <%= render "shared/modal_form_buttons", f: f %>
  </div>
<% end %>
