<%= form_tag({action: :delete_options, controller: :plural_actions } , { method: :get , remote: true}) do %>
  <div class="options-buttons">
    <%= submit_tag "delete", class: "plural_action_button", disabled: true %>
    <%= button_tag "全選択", type: 'button', class: "check_all" %>
    <span class="appear_checked"></span>
  </div>

  <div class="options-list">
    <% @options.each do |option| %>
      <div id="option-<%= option.id %>">
        <%= render option %>
      </div>
    <% end %>
<% end %>
