<% @records.each_with_index do |record, i| %>
  <% index = @records.count - i %>
  <tbody>
    <tr id="record-<%= record.id %>">
      <td><%= index %>.</td>
      <td class="record-data">
        <div class="row">
          <%= record.option.name %>
        </div>
        <div class="row timestamp">
          <%= time_ago_in_words(record.created_at) %>前
        </div>
      </td>
      <td>
        <%= link_to sanitize('<span class="glyphicon glyphicon-remove" aria-hidden="true"</sapn>'),
                    delete_record_path(record, index: index),
                    class: "remove-btn",
                    remote: true %>
      </td>
      <td><%= check_box_tag 'ids[]', record.id %></td>
    </tr>
  </tbody>
<% end %>
