<%= form_for(@recorder, url: yield(:submit_url), remote: true) do |f| %>
  <div class="error_messages">
    <%= render 'shared/error_messages', object: f.object %>
  </div>

  <div class="scroll-window">
    <div id="options" class="form-group">
      <%= f.fields_for :options do |option_form| %>
        <%= render 'option_fields', f: option_form %>
      <% end %>
    </div>
  </div>
  <div class="pull-left">
    <%= link_to_add_association "フォームを追加", f, :options,
                                                  class: "btn btn-default",
                                                  data: {
                                                    association_insertion_node: '#options',
                                                    association_insertion_method: 'append' } %>
  </div>
  <%= render "shared/modal_form_buttons", f: f %>
<% end %>
