<% items.each.with_index(i) do |(option, fr), j| %>
  <div class=<%= "form-option-#{j}" %>>
    <div class="input-field count-select">
      <%= fr.label :count, option.name, class: "label-xs" %>
      <%= render 'count_buttons', option: option %>
      <%= fr.hidden_field :count, value: 0 , class: "hidden-count" %>
      <%= fr.hidden_field :option_id, value: option.id %>
    </div>
  </div>
<% end %>
