<div class="row">
  <div class="title col-md-2"><%= link_to recorder.title, recorder %></div>
  <div class="col-md-2"><%= link_to "edit title", edit_recorder_path(recorder), remote: true %></div>
  <div class="col-md-2"><%= link_to "edit options", recorder_options_path(recorder) %></div>
  <div class="col-md-2"><%= link_to "add options", recorder_add_options_path(recorder) %></div>
  <div class="col-md-2"><%= link_to "delete", recorder, method: :delete, data: { confirm: "You sure?" } %></div>
</div>
