<%= form_for(@recorder, url: yield(:submit_url), remote: true) do |f| %>
  <div class="error_messages">
    <%= render 'shared/error_messages', object: f.object %>
  </div>

  <div class="field">
    <%= f.label :title, "New name" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="buttons">
    <%= link_to "キャンセル", "#", class: "btn btn-default", data: { dismiss: "modal" } %>
    <%= f.submit "変更", class: "btn btn-primary" %>
  </div>
<% end %>

