<% provide(:title, 'カウンターの編集') %>
<h1 id="top">カウンターの編集</h1>


<div class="row recorder-items">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="heading">
        <h2>
          名前
        </h2>
      </div>
    </div>
    <div class="row recorder-item  recorder-<%= @recorder.id %>_title">
      <%= render "recorder_title" %>
    </div>
    <div id="options-top" class="row">
      <div class="heading options-head">
        <h2>
          選択肢
        </h2>
      </div>
    </div>
    <div class="row recorder-item options_table">
      <%= render 'options/options_table' %>
    </div>
    <div id="options-bottom" class="row">
      <%= link_to "カウンターを削除", delete_recorder_path(@recorder), remote: true, class: "btn btn-danger"  %>
    </div>
    <div class="row">
      <%= link_to "記録へ", recorder_path(@recorder), class: "btn btn-success" %>
    </div>
  </div>
</div>

</div>
<div class="modal fade modal-container"></div>
