<% provide(:title, 'All counters') %>
<h1>All counters</h1>

<div class="row">
  <div class="col-md-6"><%= will_paginate %></div>
  <div class="col-md-2 col-md-offset-4"><%= link_to "create new", user_setup_path(@user), class: "btn btn-success" %></div>
</div>

<ul class="recorders">
  <% @recorders.each do |recorder| %>
    <%= render recorder %>
  <% end %>
</ul>

<%= will_paginate %>
<div class="row">
  <div class="col-md-2 col-md-offset-10"><%= link_to "create new", user_setup_path(@user), class: "btn btn-success" %></div>
</div>
