<% provide(:title, @recorder.title) %>

<div class="row">
  <div class="col-sm-3 options-col">
    <%= render "options" %>
    <div class="slide-button-container"></div>
  </div>
  <div class="col-sm-9 col-xs-12 records-table">
    <div class="row records-head">
      <div class="heading">
        <h2>
          <%= @recorder.title %>
        </h2>
        <%= link_to sanitize('<span class="glyphicon glyphicon-stats" aria-hidden="true"</sapn>'),
                    graph_path(@recorder), class: "graph_path" %>
        <%= link_to sanitize('<span class="glyphicon glyphicon-cog" aria-hidden="true"</sapn>'),
                    edit_recorder_path(@recorder) %>
      </div>
    </div>
    <div class="row records-body">
      <%= render 'records_table' %>
    </div>
  </div>
</div>
<div class="modal fade modal-container"></div>
