<% provide(:title, @recorder.title) %>

<div class="row">
  <div class="col-sm-3 options-col">
    <%= render "options" %>
    <div class="slide-button-container"></div>
  </div>
  <div class="col-sm-9 col-xs-12 records-table">
    <div class="row records-head">
      <div class="heading">
        <h2>
          <%= @recorder.title %>
        </h2>
        <div>
          <%= link_to sanitize('<i class="material-icons fab-icon">pie_chart</i>'),
                      graph_path(@recorder), class: "graph_path" %>
          <%= link_to sanitize('<i class="material-icons fab-icon">settings</i>'),
                      edit_recorder_path(@recorder) %>
        </div>
      </div>
    </div>
    <div class="row records-body">
      <%= render 'records_table' %>
    </div>
  </div>
</div>

<!--
<a class="btn-floating cover-activate">
  <i class="material-icons cover-activate-icon">add</i>button
</a>
-->

<!--
<div class="fab">
  <%= link_to "", new_recorder_recordability_path(@recorder),
    class: "fab-background ajax-cover-open fab-expand z-depth-2 hoverable", remote: true %>
  <i class="material-icons fab-icon">add</i>
</div>
-->

<div class="toolbar-container">
  <div class="container">
    <div class="row">
      <div class="toolbar-fixed">
      <ul>
        <li><%= link_to sanitize('<i class="material-icons fab-icon">add_circle</i>'),
                "#" %></li>
        <li><%= link_to sanitize('<i class="material-icons fab-icon">edit</i>'),
                "#" %></li>
        <li><%= link_to sanitize('<i class="material-icons fab-icon">delete</i>'),
                "#" %></li>
        <li><%= link_to sanitize('<i class="material-icons fab-icon">check_all</i>'),
                "#" %></li>
        <li><%= link_to sanitize('<i class="material-icons fab-icon">clear_all</i>'),
                "#" %></li>
      </ul>
      </div>
    </div>
  </div>
</div>

<!--
<div class="cover-view"></div>
-->
