<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body data-controller=<%= params[:controller] %> data-action=<%= params[:action] %>>
    <%= render 'layouts/header' %>
    <div id="flash_messages">
      <%= render "shared/flash_messages" %>
    </div>
    <%= yield %>
    <div id='loading'>
      <%= render "shared/loading.html.erb" %>
    </div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
